<%= form_for(@fish) do |f| %>
    <% if @fish.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@fish.errors.count, "error") %> prohibited this fish from being saved:</h2>

          <ul>
            <% @fish.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label :image %>
      <%= f.file_field :image, class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :species %>
      <br>
      <%= f.text_field :species %>
    </div>
    <div class="field">
      <%= f.label :location %>
      <br>
      <%= f.text_field :location %>
    </div>
    <div class="field">
      <%= f.label :bait %>
      <br>
      <%= f.text_field :bait %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
