<div id="fish">
<% @fish.each do |fish| %>
      <div class="box"
        <%= image_tag fish.image.url(:medium) %>
        <%= fish.species %>
        <%= fish.location %>
        <%= fish.bait %>
        <%= link_to 'Show', fish %>
        <% if fish.user == current_user %>
        <%= link_to 'Edit', edit_fish_path(fish) %>
        <%= link_to 'Destroy', fish, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
      </div>
    <% end %>
</div>


