<div id="fish" class="transitions-enabled">
<% @fish.each do |fish| %>
      <div class="box panel panel-default">
      <%= image_tag fish.image.url(:medium) %>
        <div class="panel-body">
        <%= fish.species %>
        <%= fish.location %>
        <%= fish.bait %>
        <%= link_to 'Show', fish %>
        <% if fish.user == current_user %>
        <%= link_to 'Edit', edit_fish_path(fish) %>
        <%= link_to 'Destroy', fish, method: :delete, data: { confirm: 'Are you sure?' } %>

            <% end %>
        </div>
      </div>
    <% end %>
</div>

